// :root {
// 	--color_accent: #2947A9;
// }

// colors

$color_white: #fff;
$color_black: #000;

$color_text: #8E8E8E;
$color_text2: #D9D9D9;

// $color_accent: #2947a9;
// $color_title: #292e3d;

// $color_hover: #F9995D;

$font_1: 'Poppins', sans-serif;
$font_2: 'Roboto', sans-serif;
$font_3: 'Inter', sans-serif;
$transition_dur: 0.3s;
$z_index_header: 99;

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */
