@use './helpers/abstracts' as *;

.app {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5rem;
	padding: 0;
	gap: 3rem;
	&__title {
		font-size: 4.8rem;
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 0.26rem;
		text-transform: uppercase;
		margin-bottom: 4rem;
		max-width: 50.7rem;
	}
	&__subtitle {
		font-size: 2.4rem;
		color: $color_text3;
		letter-spacing: -0.16rem;
		max-width: 41.9rem;
		margin-bottom: 6rem;
	}
	&__btns {
		display: flex;
		gap: 1.9rem;
	}
	&__img_w {
		max-width: 67.1rem;
		height: 88rem;
	}
	&__img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
		object-position: center;
	}
}
