@use './helpers/abstracts' as *;

.arrivals {
	margin-top: 7rem;
	&__cards {
		display: flex;
		justify-content: space-between;
		margin-top: 10.1rem;
		gap: 2rem;
		@include bp($point_3) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}
	&__card {
		display: flex;
		flex-direction: column;
		max-width: 48.4rem;
		justify-content: center;
		@include bp($point_2, min) {
			width: calc(100% / 3);
		}

		@include bp($point_3) {
			width: 100%;
		}
	}
}

.card__img_w {
	max-height: 70.4rem;
}

.card__img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: contain;
	object-position: center;
}

.card__info {
	margin-top: 2.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__text {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.card__title {
	font-size: 3.2rem;
	line-height: 5rem;
}

.card__subtitle {
	font-size: 2.4rem;
	color: $color_text3;
}

.card__link_w {
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
}

.card__link {
	width: 3.4rem;
	height: 2.3rem;
	display: block;
	mask-image: url(../imgs/Arrow.svg);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: cover;
	background-color: $color_text3;
}
