@use './helpers/abstracts' as *;

.favourite {
	margin-top: 19rem;
	&__cards {
		display: flex;
		justify-content: space-between;
		margin-top: 10.4rem;
		gap: 2rem;
	}
	&__card {
		display: flex;
		flex-direction: column;
		width: calc(100% / 2);
		max-width: 83.5rem;
		justify-content: center;
	}
}
