@use './helpers/abstracts' as *;

.footer {
	background-color: $color_black;
	color: $color_text;
	padding: 12.5rem 10rem;
	&__in {
		display: flex;
		justify-content: space-between;
		@include bp($point_3) {
			flex-direction: column;
		}
	}
	&__col {
		max-width: 41.5rem;
		gap: 3.2rem;
		display: flex;
		flex-direction: column;
	}
	&__col_2 {
		display: flex;
		@include bp($point_2, min) {
			gap: 18.8rem;
		}

		@include bp($point_3) {
			gap: 1.8rem;
			flex-direction: column;
		}
	}
	&__title {
		color: $color_white;
		font-weight: 900;
		@include bp($point_2, min) {
			font-size: 4rem;
		}

		@include bp($point_3) {
			font-size: 3.4rem;
		}
		&--s {
			font-family: $font_2;
			font-size: 2.4rem;
			font-weight: 400;
			color: $color_text2;
		}
	}
	&__descr {
		font-family: $font_2;
		font-size: 2.4rem;
		line-height: 4rem;
	}
	&__socials {
		display: flex;
		gap: 1.4rem;
		& img {
			width: 5.2rem;
			height: 5.2rem;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 3.4rem;
	}
	&__list {
		font-family: $font_2;
		font-size: 2.4rem;
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		& a {
			text-decoration: none;
			color: $color_text;
		}
	}
}
