@use './helpers/abstracts' as *;

.form_sec {
	margin-top: 13rem;
	padding-top: 14.1rem;
	padding-bottom: 15.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__title {
		font-size: 5.5rem;
		font-weight: 900;
		line-height: 7rem;
		letter-spacing: 0.26rem;
		text-transform: uppercase;
		margin-bottom: 1.1rem;
		max-width: 96.6rem;
		text-align: center;
		color: $color_white;
	}
	&__subtitle {
		font-size: 3.2rem;
		font-weight: 400;
		color: #fffcf8;
		letter-spacing: 0.12rem;
		margin-bottom: 3.9rem;
		color: #fffcf8;
	}
}

.form {
	display: flex;
	align-items: center;
	background-color: $color_white;
	padding: 1rem;
	border-radius: 1rem;
	max-width: 57.4rem;
	width: 100%;

	&__input {
		flex-grow: 1;
		border: none;
		outline: none;
		padding: 1.7rem 2rem;
		font-weight: 400;
		font-size: 2.4rem;
		color: $color_black;

		&::placeholder {
			color: $color_text3;
		}
	}

	&__btn {
		background-color: $color_black;
		color: $color_white;
		border: none;
		border-radius: 0.8rem;
		padding: 1.6rem 3.6rem;
		font-weight: 500;
		font-size: 3.3rem;
		cursor: pointer;
		transition: all $transition_dur ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}
}
