@use './helpers/abstracts' as *;

.header {
	display: block;
	background-color: $color_white;
	width: 100%;
	position: fixed;
	z-index: $z_index_header;
	transition: all $transition_dur ease-in-out;
	&__wrapper {
		width: 100%;
	}
	&__in {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		height: 6rem;
        @include bp($point_2, min) {
			width: 23.6rem;
		}

		@include bp($point_3) {
			width: 15rem;
		}
	}
}

.logo {
	width: 100%;
	height: 100%;
	& img {
		height: 6rem;
		@include bp($point_2, min) {
			width: 23.6rem;
		}

		@include bp($point_3) {
			width: 15rem;
		}
	}
}

.nav {
	display: flex;

	&__list {
		display: flex;
		column-gap: 6.5rem;
		align-items: center;
		@include bp($point_2, min) {
			column-gap: 6.5rem;
		}

		@include bp($point_3) {
			column-gap: 1rem;
		}
	}

	&__link {
		text-decoration: none;
		color: #242323;
		font-size: 2.2rem;
		transition: all $transition_dur ease-in-out;
		&:hover {
			opacity: 0.7;
		}
		@include bp($point_3) {
			display: none;
		}
	}
	&__btn {
		display: inline-flex;
		background-color: $color_black;
		color: $color_white;
		font-size: 2.4rem;
		flex-wrap: nowrap;
		white-space: nowrap;
		//max-width: 13.4rem;
		max-height: 6.2rem;
		width: 100%;
		height: 100%;
		border-radius: 0.7rem;
		padding: 1.3rem 2.2rem;
		cursor: pointer;
		transition: all $transition_dur ease-in-out;
		&:hover {
			background-color: #222;
		}
	}
}
