@use './helpers/abstracts' as *;

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f4f6f5;
	border-radius: 6rem;
	margin-top: 11.8rem;
	gap: 3rem;
	@include bp($point_2, min) {
		padding: 6.8rem 8.1rem 0 11.9rem;
	}

	@include bp($point_3) {
		padding: 4rem 1rem 0 1rem;
		flex-direction: column-reverse;
	}
	&__title {
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 4rem;
		max-width: 47.4rem;
		@include bp($point_2, min) {
			font-size: 9.6rem;
			line-height: 12rem;
		}

		@include bp($point_3) {
			font-size: 2.5rem;
			line-height: 4rem;
		}
		& span {
			position: relative;
			display: inline-block;
			padding: 0.4rem 1rem;
			z-index: 1;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: -2rem;
				width: 100%;
				height: 100%;
				z-index: -1;
				transform-origin: left center;
				@include bp($point_3) {
					display: none;
				}
			}
		}
		.bg-white::before {
			background: $color_white;
			width: 160%;
			transform: rotate(-2deg);
		}
		.bg-yellow::before {
			background: $color_yellow;
			width: 125%;
			transform: rotate(-2deg);
		}
	}
	&__subtitle {
		font-size: 3.2rem;
		font-weight: 400;
		letter-spacing: -0.16rem;
		margin-bottom: 3.2rem;
		@include bp($point_2, min) {
			font-size: 3.2rem;
		}

		@include bp($point_3) {
			font-size: 2.2rem;
		}
	}
	&__btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		white-space: nowrap;
		text-decoration: none;
		font-size: 3rem;
		color: $color_white;
		background-color: $color_black;
		border-radius: 1rem;
		min-width: 22.1rem;
		height: 8.2rem;
		padding: 0 2rem;

		line-height: 8.2rem;
		transition: all $transition_dur ease-in-out;
		@include bp($point_2, min) {
			margin-bottom: 8.5rem;
		}

		@include bp($point_3) {
			margin-bottom: 2rem;
		}
		&:hover {
			background-color: #222;
		}
	}
	&__img_w {
		max-width: 89.1rem;
		//height: 78.4rem;
		@include bp($point_2, min) {
			height: 78.4rem;
		}

		@include bp($point_3) {
			height: auto;
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
		object-position: bottom;
	}
}
