@use './helpers/abstracts' as *;

.sale {
	margin-top: 19rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 6rem;
	padding: 0 20rem 0 0;
	gap: 2rem;
	&__title {
		font-size: 11.2rem;
		font-weight: 900;
		line-height: 13rem;
		text-transform: uppercase;
		margin-bottom: 3.3rem;
		max-width: 59.4rem;
		& span {
			position: relative;
			display: inline-block;
			padding: 0.4rem 1rem;
			z-index: 1;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: -2rem;
				width: 100%;
				height: 100%;
				z-index: -1;
				transform-origin: left center;
			}
		}
		.bg-white_2::before {
			background: $color_white;
			width: 110%;
			transform: rotate(-2deg);
		}
	}
	&__subtitle {
		font-size: 3.6rem;
		font-weight: 500;
		letter-spacing: -0.16rem;
		margin-bottom: 4rem;
	}
	&__terms {
		font-size: 3.6rem;
		font-weight: 400;
		letter-spacing: -0.16rem;
		margin-bottom: 5.1rem;
		& span {
			font-weight: 700;
		}
	}
	&__btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		white-space: nowrap;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 2.8rem;
		color: $color_white;
		background-color: $color_black;
		border-radius: 1rem;
		min-width: 26.6rem;
		height: 9.5rem;
		padding: 0 2rem;

		line-height: 9.5rem;
		transition: all $transition_dur ease-in-out;
		&:hover {
			background-color: #222;
		}
	}
	&__img_w {
		max-width: 99.1rem;
		height: 96.8rem;
	}
	// &__img {
	// 	width: 100%;
	// 	height: 100%;
	// 	display: block;
	// 	object-fit: cover;
	// 	object-position: bottom;
	// }
}
