@use './helpers/abstracts' as *;

html {
	// font-size: calc(100dvw / 1920 * 10);

	font-size: 10px;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: $font_1;
	font-weight: 500;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.section {
	width: 100%;
}

.section__title {
	font-size: 4.8rem;
	font-weight: 900;
	line-height: 5rem;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	z-index: 1;
	&.section__title--v2 {
		text-transform: capitalize;
	}
	&::after {
		content: '';
		position: absolute;

		top: 50%;
		left: 100%;
		transform: translate(-100%, -10%);

		width: 18.6rem;
		height: 3.5rem;

		background-image: url('/imgs/title_decor.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;

		z-index: -1;
	}
}

.container {
	max-width: 192rem;
	padding: 0;
	width: 100%;
	margin: 0 auto;

	&.container--v2 {
		max-width: 176rem;
		padding: 0 2rem;
	}

	&.container--v3 {
		max-width: 168rem;
		padding: 0 2rem;
	}

	&.container--v4 {
		max-width: 152rem;
		padding: 0 2rem;
	}

	&.container--bg {
		background: linear-gradient(
			0deg,
			rgba(224, 195, 64, 1) 0%,
			rgba(237, 206, 73, 1) 50%,
			rgba(249, 223, 86, 1) 100%
		);
	}
}

/* remove */

// header,
// footer {
// 	padding: 30px 6px;
// 	display: flex;
// 	align-items: center;
// 	min-height: 120px;
// 	font-size: 50px;
// 	text-align: center;
// 	justify-content: center;
// 	background-color: #ccc;

// 	// @include bp($point_2, min) {
// 	// 	background-color: tomato;
// 	// }
// }

// .hello {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;

// 	height: calc(100vh - 240px);
// 	color: brown;
// 	font-size: 5rem;

// 	text-align: center;
// 	// p {
// 	// 	color: $color_black;
// 	// }
// }

// h1 {
// 	font-weight: normal;
// }

/* remove */
