@use './helpers/abstracts' as *;

html {
	// font-size: calc(100dvw / 1920 * 10);

	//font-size: 10px;
	@include bp(1920px, min) {
		font-size: 10px;
	}

	@media (min-width: $point_2) and (max-width: 1920px) {
		font-size: calc(100dvw / 1920 * 10);
	}

	@include bp($point_3) {
		font-size: 10px;
	}
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: $font_1;
	font-weight: 500;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.section {
	width: 100%;
}

.section__title {
	font-size: 4.8rem;
	font-weight: 900;
	line-height: 5rem;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	z-index: 1;
	&.section__title--v2 {
		text-transform: capitalize;
	}
	&::after {
		content: '';
		position: absolute;

		top: 50%;
		left: 100%;
		transform: translate(-100%, -10%);

		width: 18.6rem;
		height: 3.5rem;

		background-image: url('/imgs/title_decor.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;

		z-index: -1;
	}
}

.container {
	max-width: 192rem;
	padding: 0;
	width: 100%;
	margin: 0 auto;

	&.container--v2 {
		max-width: 176rem;
		padding: 0 2rem;
	}

	&.container--v3 {
		max-width: 168rem;
		padding: 0 2rem;
	}

	&.container--v4 {
		max-width: 152rem;
		padding: 0 2rem;
	}

	&.container--bg {
		background: linear-gradient(
			0deg,
			rgba(224, 195, 64, 1) 0%,
			rgba(223, 194, 62, 1) 4%,
			rgba(225, 196, 65, 1) 7%,
			rgba(227, 199, 67, 1) 10%,
			rgba(228, 197, 66, 1) 13%,
			rgba(230, 199, 68, 1) 16%,
			rgba(231, 200, 69, 1) 20%,
			rgba(229, 198, 67, 1) 24%,
			rgba(230, 201, 69, 1) 31%,
			rgba(227, 199, 67, 1) 37%,
			rgba(233, 202, 72, 1) 43%,
			rgba(237, 206, 73, 1) 50%,
			rgba(240, 212, 76, 1) 57%,
			rgba(244, 216, 79, 1) 63%,
			rgba(246, 218, 82, 1) 67%,
			rgba(247, 219, 83, 1) 74%,
			rgba(249, 221, 85, 1) 79%,
			rgba(249, 223, 86, 1) 86%,
			rgba(250, 225, 87, 1) 93%,
			rgba(249, 223, 86, 1) 100%
		);
	}

	&.container--bg2 {
		background-color: #e5c643;
	}
}
