@use './helpers/reset';
//@use './fonts';
@use './base';

//blocks
@use './blocks/header';
@use './blocks/hero';
@use './blocks/brands';
@use './blocks/arrivals';
@use './blocks/sale';
@use './blocks/favourite';
@use './blocks/app';
@use './blocks/faqs';
@use './blocks/form';
@use './blocks/footer';
